extends layout

block content
    div.container
        h1= title
        h3= header
        p.lead A boilerplate for Node.js web applications.
        hr
        a.btn.btn-primary(href="/login", role="button") Login