extends layout

block content
    h1= title
    h3= header
    p.lead A boilerplate for Node.js web applications.
    hr
    .progress
        .progress-bar.progress-bar-danger.progress-bar-striped(role="progressbar", aria-valuenow="45", aria-valuemin="0", aria-valuemax="100", style="width: 45%")
    h3.text-center(id="timer") 00:00
    button.startStop(id="start").btn.btn-success Start
    button.startStop(id="stop", style="display: none").btn.btn-danger Stop
    | &nbsp;
    button(id="reset").btn.btn-default Reset

    .modal.fade(tabindex="-1", role="dialog", id="registerModal")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title Register to save your progress?
                .modal-body
                    p If you register you can save this pomorodo and all future ones. Sounds good?
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Nope
                    button.btn.btn-primary(type="button", id="registerBtn") Yes please