extends layout

block content
    div.container
        h1= title
        h3= header
        p.lead A boilerplate for Node.js web applications.
        hr

        if !user
            form.form-inline(action='/login', method="post")
                input.form-control(placeholder="email", name='email', id='email', required)
                input.form-control(placeholder="password", name='password', id='password', type='password', required)
                button.btn.btn-default(type="submit") Submit
        else
            p Welcome back #{user.displayName}