extends layout

block content
    div.container
        h1= title
        h3= header
        p.lead A boilerplate for Node.js web applications.
        hr

        form.form-inline(method="post")
            input.form-control(placeholder="email", name="email", id="email", required)
            input.form-control(placeholder="password", name="password", id="password", type="password", required)
            input(type="hidden", name="pomodoros",  id="pomodoros")
            button.btn.btn-default(type="submit") Submit
            hr
            p or register with:
            a.btn.btn-fb(href="/auth/facebook")
                i.fa.fa-facebook
                |  Connect with Facebook